.player {
    display: flex;
    align-items: center;
    background-color: rgba(254, 253, 253, 0.4);
    border: 2px solid #E09604;
    border-right: none;
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    img {
        height: 60px;
        width: 60px;
        object-fit: cover;
    }

    span {
        font-size: 32px;
        margin-left: 16px;
    }
}

.player-active {
    background-color: rgba(254, 253, 253, 0.8) !important;
}