.field {
    background-image: url('/assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        height: 250px;
    }
}

.top-card {
    cursor: pointer;
    transition: all ease-in-out 125ms;

    &:hover {
        transform: scale(1.1) translateY(-10px);
        transition: all ease-in-out 125ms;
    }
}

.pick-card {
    transform: scale(1.5) !important;
    transition: all ease-in-out 125ms;
}